header{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: purple;
}

#begingame {
    padding: 15px;
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
    color: blue;
}
 
#endGame {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: blue;
}

.yes, .no {
    margin: 2px;
    padding: 5px;
}

#button:hover{
    background-color: rebeccapurple;
}

#countdown {
    font-size: 20px;
    color: blue;
    font-weight: bold;
}